.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.green {
    background: rgb(163, 231, 163);
}

.green-text {
    color: rgb(131, 118, 216);
}