.input:focus {
    outline: none;
    border: 2px solid #99ff99;
}

.superInput {
  margin: 10px;
  background: #003300;
  color: #99ff99;
}

.errorInput {
  margin: 10px;
  background: #003300;
  color: #99ff99;
  border: 2px solid #f5264f;
}

.error {
  color: #f5264f;
  height: 21px;
  margin-left: 10px;
}
