.select {
    width: 100px;
    padding: 10px;
    padding-right: 30px;

    cursor: pointer;
    background: rgb(3, 107, 192);
    border: 2px solid green;
    color: indigo;
}

.select:focus {
    outline: none;
    border: olive solid 2px;
}

.option {
    color: rgb(15, 12, 6);
    background: rgb(82, 42, 80);
}

.option:checked {
    color: peru;
    background: purple;
}

.option:hover {
    box-shadow: 0 0 10px 100px #6b2727 inset;
    transition: all .2s ease-in-out;
    background: red;
}