.link {
    text-decoration: none;
    margin: 5px;
    color: brown;
}

.link:hover {
    color: blue;
}

.active {
    color: rgb(211, 5, 194);
}

.block {
    width: 50px;
    height: 20px;
    margin: 5px;
    background: #99ff99;
}

.header {
    display: flex;
    width: 300px;
    transition-duration: 500ms;
    transform: translate(-190px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}